[submodule "Core/lib/ccsds-telemetry-packets"]
	path = Core/lib/ccsds-telemetry-packets
	url = https://gitlab.com/acubesat/comms/software/ccsds-telemetry-packets.git
[submodule "Core/lib/cross-platform-software"]
	path = Core/lib/cross-platform-software
	url = https://gitlab.com/acubesat/obc/cross-platform-software.git
[submodule "Core/lib/comms-component-drivers"]
	path = Core/lib/comms-component-drivers
	url = git@github.com:PeakSat/comms-component-drivers.git
