[submodule "Core/lib/ccsds-telemetry-packets"]
	path = Core/lib/ccsds-telemetry-packets
	url = https://gitlab.com/acubesat/comms/software/ccsds-telemetry-packets.git
[submodule "Core/lib/comms-component-drivers"]
	path = Core/lib/comms-component-drivers
	url = https://github.com/PeakSat/comms-component-drivers
[submodule "Core/lib/ecss-services"]
	path = Core/lib/ecss-services
	url = https://github.com/PeakSat/ecss-services
